# Your AI Foundry Project connection string, found in the Foundry Project Overview page
AIPROJECT_CONNECTION_STRING="<your-foundry-project-region>.api.azureml.ms;<your-subscription-id>;<your-resource-group>;<your-foundry-project>"

# Your AI Foundry project chat model
CHAT_MODEL_ENDPOINT=https://<AI-services-name>.openai.azure.com/openai/deployments/<model-name>/chat/completions?api-version=<api-version>
CHAT_MODEL_API_KEY=<key>
CHAT_MODEL=<chat-model-name>